a, a:link {
    color: black;
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient(#edf2f7 50%, #c6f6d5 50%);
    transition: background 300ms ease;
    background-size: 2px;
    background-size: auto 175%;
  }
  
  a:hover, a:focus {
    background-position-y: 100%;
  }