body {
  color: black;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient(#edf2f7 50%, #c6f6d5 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 195%;
}

body:hover, body:focus {
  background-position-y: 100%;
}

#skater-icon {
  margin: 5px 10px;
} 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 40px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.6;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}
