name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
  
    name: "Tagged Release"
    runs-on: "ubuntu-latest"
    
    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm install -g browserify
      - run: export PATH="$(npm config get prefix)/bin:$PATH"
      - run: npm run build

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            static/*
            images/*
            src/*
            content_script.js
            manifest.json
            README.md
